* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quattrocento Sans', 'sans-serif';
    background: url('homepage_bg2.jpg') no-repeat center fixed;
    background-size: cover;
}

.main-container {
    color: rgb(255, 255, 255);
}

.signup-wrapper {
    background-color: rgba(52, 58, 64, 0.80);
}

.what-we-do-wrapper {
    background-color: #FFF;
    height: 100px;
    color: rgb(70, 69, 69);
}

.issues-wrapper {
    background-color: rgb(52, 58, 64);
    height: 100px;
}

#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px 'Quattrocento Sans',Arial,sans-serif; 
}

.card-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 > span {
    /* font-size: 4rem;
    text-decoration: underline; */
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.right {
    /* background-color: red; */
}

.middle {
    /* background-color: blue; */
    /* padding-left: 50px; */
    margin: auto;
}

.empty-space {
    height: 50px;
}

h1 {
    font-size: 3rem;
}

#mc_embed_signup {
    color: #5d5d5d;
}