* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quattrocento Sans', 'sans-serif';
    background: url('homepage_bg2.jpg') no-repeat center fixed;
    background-size: cover;
}

.main-container {
    color: lightgray;
}

.signup-wrapper {
    background-color: rgba(52, 58, 64, 0.80);
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.right {
    /* background-color: red; */
}

.middle {
    /* background-color: blue; */
    /* padding-left: 50px; */
    margin: auto;
}

.empty-space {
    height: 50px;
}

h1 {
    font-size: 3rem;
}

#mc_embed_signup {
    color: #5d5d5d;
}